@import './colors.scss';

$c-bg-dark:   #101011;
$c-bg-dark-2: #141414;

body {
  background-color: $c-bg-dark;
  color: white;
}

button {
  color: white;
  border-color: rgba(255, 255, 255, 0.75);

  &:disabled {
    border-color: rgba(255, 255, 255, 0.2) !important;
  }

  &:hover {
    border: solid 1px rgba(255, 255, 255, 1);
  }
}

input, textarea, select {
  background-color: transparent;
  color: white;
  border-color: white;
}

a, .link {
  color: #01adff !important;
}

select option {
  background-color: $c-bg-dark;
}

.header-container {
  background-color: darken($c-accent, $amount: 40);
}

.container-element {
  border-color: white;

  .container-header {
    border-color: white;
  }
}

.tags-element {
  border-color: white;
}

.modal-conatiner {
  background-color: $c-bg-dark-2;
  border-color: white;
}

.warn-text {
  color: rgb(238, 59, 59);
}

.image-editor-tags-suggestions {
  border-color: white;
  color: white;
  background-color: lighten($c-bg-dark-2, 10);
}
