body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

input, textarea {
  padding: 5px;
  transition: all .25s ease;
}

button {
  padding: 5px;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  transition: all .25s ease;

  &:hover {
    border: solid 1px rgba(0, 0, 0, 1);
  }

  &:disabled {
    cursor: not-allowed;
    border: solid 1px rgba(0, 0, 0, 0.5);
    opacity: 0.75;
  }
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

