@import './styles/colors.scss';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

input, textarea, select {
  padding: 5px;
  transition: all .25s ease;
  border: solid 1px black;
}

button {
  padding: 5px;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-transform: uppercase;
  transition: all .25s ease;

  &:hover {
    border: solid 1px rgba(0, 0, 0, 1);
  }

  &:disabled {
    cursor: not-allowed;
    border: solid 1px rgba(0, 0, 0, 0.5);
    opacity: 0.75;
  }
}

input[type=checkbox] {
  display: inline-block;
  height: 16px;
  width: 16px;
  transition: .2s ease;
  -webkit-appearance: none;
  border: 1px solid #ccc;
  margin: 0px 8px 0px 0px;
  cursor: pointer;

  &:checked {
    border-color: transparent;
    background: var(--cb-background);
    background-color: $c-accent;
  }
}

table {
  text-align: left;
}

h1, h2, h3, h4, h5 {
  margin-top: 0;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.cb-container {
  display: flex;
  align-items: center;
}

.highlight-red {
  background-color: rgba(255, 0, 0, 0.25);
  padding: 1px 3px;
}

button.link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
  text-transform: unset;
  padding: unset !important;
  border: unset !important;
  outline: none !important;
}

.warn-text {
  color: rgb(194, 28, 28);
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-5 {
  margin-top: 5px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-5 {
  margin-bottom: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}
