.main-controls {
  display: flex;
  align-items: center;
  margin: 10px 0px;

  > * {
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.main-page-dialer {
  margin-left: auto;

  > * {
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.main-image-grid {
  display: flex;
  flex-wrap: wrap;

  > span {
    height: 180px;
    width: 180px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
  }
}
