.main-controls {
  display: flex;
  align-items: center;
  margin: 10px 0px;

  > * {
    margin-right: 20px;

    &:last-child {
      margin-right: 0px;
    }
  }
}

.main-page-dialer {
  margin-left: auto;
}

.main-image-grid {
  display: flex;
  flex-wrap: wrap;

  > span {
    display: flex;
    height: 180px;
    width: 180px;
    align-items: center;
    justify-content: center;
    margin: 5px;
  }
}

.main-export-link {
  margin-left: 15px;
  font-size: 14px;
}

.main-modal-controls {
  display: flex;
  margin-top: 10px;

  > * {
    margin-left: 10px;

    &:first-child {
      margin-left: auto;
    }
  }
}
