.upload-file-input {
  margin-top: 10px;
}

.upload-submit-btn {
  margin-top: 10px;
  width: 100%;
}

.upload-drop-zone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 120px);
  border: dashed 5px gray;
  cursor: pointer;

  > p {
    font-size: 2em;
  }
}

.upload-drop-zone-over {
  background-color: rgba(0, 0, 0, 0.05);
}
