.user-edit-password-confirm {
  margin-top: 10px;
  input, label {
    display: block;
    width: 100%;
  }
}

.user-edit-update {
  margin-top: 10px;
  width: 100%;
}

.user-edit-cb-admin {
  margin-top: 10px;
}
