.image-details-container {
  display: flex;
  flex-wrap: wrap;

  > .container-element {
    margin-bottom: 20px;
  }
}

.image-details-table {
  margin-bottom: 10px;

  th {
    padding-right: 10px;
    text-align: left;
  }
}

.image-details-preview {
  max-height: calc(100vh - 50px);
  max-width: calc(100vw - 50px);
  margin: 0 20px 20px 0;
}

.image-editor-tags-container {
  position: relative;
}

.image-editor-tags-suggestions{
  position: absolute;
  width: 100%;
  border: solid 1px black;
  background-color: white;

  > p {
    margin: 0;
    padding: 5px;
    cursor: pointer;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}

.image-detail-control-btns {
  display: flex;
  margin-top: 15px;

  > * {
    width: 100%;
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
