.image-details-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  > .container-element {
    margin-bottom: 20px;
  }
}

.image-details-table {
  margin-bottom: 10px;
  max-width: calc(50vw - 80px);

  th {
    padding-right: 10px;
    text-align: left;
  }
}

.image-details-preview {
  display: block;
  max-height: calc(100vh - 50px - 30px);
  max-width: calc(50vw);
  margin: 0 20px 20px 0;
}

.image-detail-control-btns {
  display: flex;
  margin-top: 15px;

  > * {
    width: 100%;
    margin-right: 10px;

    &:last-child {
      margin-right: 0px;
    }
  }
}
