.image-edit-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

  > .container-element {
    margin-bottom: 20px;
  }
}

.image-edit-preview {
  display: block;
  max-height: calc(100vh - 50px - 30px);
  max-width: calc(50vw);
  margin: 0 20px 20px 0;
}
