@import '../../styles/colors.scss';

.header-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: lighten($c-accent, $amount: 40);
  padding: 0px 0px 0px 10px;
}

.header-logo {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  transition: all 0.25s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.header-version {
  margin-left: 10px;
  font-size: 13px;
}

.header-right-control {
  margin-left: auto;
  display: flex;
  height: 100%;

  > button {
    border: none !important;
    padding: 0 10px;
    outline: none;

    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &:last-child:hover {
      background-color: rgba(255, 0, 0, 0.25);
    }
  }
}

.header-spacer {
  height: 100%;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 0;
}
